#container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
img{
  width: 25px;
  vertical-align: middle;
  display: inline-block;
}
.error{
  color: red;
  display: flex;
  justify-content: space-around;
}

li{
  margin: 1%;

}

li::before {
  content: "• ";
  color: #00958F;
  font-size: 1.5em;
}
