<div id="container">
  <button class="btn" (click)="refresh();" type="button">
      <img src="../../assets/refresh.png">
      <span>Refresh</span>
  </button>
  <span *ngIf="error" class="error">
    {{error}}
  </span>
    <panel *ngFor="let newItem of newsList"
           [title]="newItem.webTitle" [opened]="newItem.opened"
           (toggle)="getNewsText(newItem); newItem.opened = !newItem.opened; newItem.animationState = 'out'; "
           [ngClass]="{active: newItem.opened}"

    >
      {{newItem.text}}
      <br>
      <a href="{{newItem.webUrl}}">Read full news</a>
    </panel>
</div>


