
.panel-heading {
  padding: 1.5em 1.5em;
 background: #42B1AD;
 color: white;
  cursor: pointer;
  font-size: 1em;
  transition: all .3s;
}

.panel-heading:hover {
  background: #007571;
}
.img {
  content:url("../../assets/baseline_keyboard_arrow_down_white_48dp.png");
  width: 30px;
}

.active .img{
  content:url("../../assets/baseline_keyboard_arrow_up_white_48dp.png");
  width: 30px;
}



.panel-body{
  background-color: #DFF1F0;
  padding: 3%;
  transition: all .3s ease-out;
}
